@import '../../style/variables';
.card {
  max-width: 416px;
  display: flex;
  flex-direction: column;

  border: 1px $black-200 solid;
  border-radius: 5px;
  overflow: hidden;

  &-img {
    width: 100%;
  }
  &-body {
    padding: 1.25rem 2rem;
  }
  &-title {
    margin-bottom: 12px;
    h4 {
      font-size: 1.25rem;
      font-weight: bolder;
    }
  }
  .list-group {
    margin-top: auto;
    &-item {
      display: flex;
      justify-content: space-between;
      padding: 1.25rem 2rem;
    }
  }
}
