/***************************** base *****************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import 'scss-reset/reset';
:root {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background: $black-900;
}

body,
#root {
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  color: $white;
}

h1,
.fs-1 {
  font-size: 3rem;
}
h2,
.fs-2 {
  font-size: 2.5rem;
}
h3,
.fs-3 {
  font-size: 2rem;
}
h4,
.fs-4 {
  font-size: 1.75rem;
}
h5,
.fs-5 {
  font-size: 1.5em;
}
h6,
.fs-6 {
  font-size: 1.25rem;
}
small {
  font-size: 0.875rem;
}
.fs-root {
  font-size: 1rem;
}

a {
  color: $primary;
  text-decoration: none;
  transition: all ease-out 0.18s;
  &:hover {
    color: $primary;
  }
}

button {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 20px 40px;
  border-radius: 1rem;
  color: $white;
  border: 1px solid $white;
}
