@mixin space($x, $y: null) {
  @if $x and $y {
    &-d1 {
      #{$x}: 160px !important;
      #{$y}: 160px !important;
    }
    &-d2 {
      #{$x}: 120px !important;
      #{$y}: 120px !important;
    }
    &-d3 {
      #{$x}: 80px !important;
      #{$y}: 80px !important;
    }
    &-0 {
      #{$x}: 0 !important;
      #{$y}: 0 !important;
    }
    &-1 {
      #{$x}: 3rem !important;
      #{$y}: 3rem !important;
    }
    &-2 {
      #{$x}: 2.5rem !important;
      #{$y}: 2.5rem !important;
    }
    &-3 {
      #{$x}: 2rem !important;
      #{$y}: 2rem !important;
    }
    &-4 {
      #{$x}: 1.75rem !important;
      #{$y}: 1.75rem !important;
    }
    &-5 {
      #{$x}: 1.5rem !important;
      #{$y}: 1.5rem !important;
    }
    &-6 {
      #{$x}: 1.25rem !important;
      #{$y}: 1.25rem !important;
    }
    &-7 {
      #{$x}: 0.75rem !important;
      #{$y}: 0.75rem !important;
    }
    &-8 {
      #{$x}: 0.5rem !important;
      #{$y}: 0.5rem !important;
    }
    &-auto {
      #{$x}: auto !important;
      #{$y}: auto !important;
    }
    &-root {
      #{$x}: 1rem !important;
      #{$y}: 1rem !important;
    }
    &-small {
      #{$x}: 0.75rem !important;
      #{$y}: 0.75rem !important;
    }
  } @else {
    &-d1 {
      #{$x}: 160px !important;
    }
    &-d2 {
      #{$x}: 120px !important;
    }
    &-d3 {
      #{$x}: 80px !important;
    }
    &-0 {
      #{$x}: 0 !important;
    }
    &-1 {
      #{$x}: 3rem !important;
    }
    &-2 {
      #{$x}: 2.5rem !important;
    }
    &-3 {
      #{$x}: 2rem !important;
    }
    &-4 {
      #{$x}: 1.75rem !important;
    }
    &-5 {
      #{$x}: 1.5rem !important;
    }
    &-6 {
      #{$x}: 1.25rem !important;
    }
    &-7 {
      #{$x}: 0.75rem !important;
    }
    &-8 {
      #{$x}: 0.5rem !important;
    }
    &-25 {
      #{$x}: 25% !important;
    }
    &-50 {
      #{$x}: 50% !important;
    }
    &-75 {
      #{$x}: 75% !important;
    }
    &-100 {
      #{$x}: 100% !important;
    }
    &-root {
      #{$x}: 1rem !important;
    }
    &-auto {
      #{$x}: auto !important;
    }
    &-small {
      #{$x}: 0.75rem !important;
    }
  }
}

@mixin flex($name) {
  &-start {
    #{$name}: flex-start;
  }

  &-end {
    #{$name}: flex-end;
  }

  &-center {
    #{$name}: center;
  }

  &-between {
    #{$name}: space-between;
  }

  &-around {
    #{$name}: space-around;
  }
}
@mixin border($side, $color) {
  border: $side solid $color;
  &-top {
    border-top: $side solid $color;
  }
  &-right {
    border-right: $side solid $color;
  }
  &-left {
    border-left: $side solid $color;
  }
  &-bottom {
    border-bottom: $side solid $color;
  }
}
@mixin color($color) {
  &-white {
    #{$color}: $white;
  }
  &-black {
    #{$color}: $black-900;
  }
  &-dark {
    #{$color}: $black-800;
  }
  &-gray {
    #{$color}: $black-600;
  }
  &-gray-light {
    #{$color}: $black-400;
  }
  &-light {
    #{$color}: $black-200;
  }
  &-surface {
    #{$color}: $surface;
  }
}
@mixin textpos {
  &-start {
    text-align: start;
  }
  &-center {
    text-align: center;
  }
  &-end {
    text-align: end;
  }
}
@mixin pc {
  @media (max-width: 1296px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin display {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-none {
    display: none;
  }
}
